<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zukxu.orderdemo.mapper.BrandMapper">
  <resultMap id="BaseResultMap" type="com.zukxu.orderdemo.entity.Brand">
    <!--@mbg.generated-->
    <!--@Table dsppm_brand-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="enable" jdbcType="BOOLEAN" property="enable" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="code" jdbcType="VARCHAR" property="code" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, remark, create_by, create_time, update_by, update_time, `enable`, `label`, code
  </sql>
</mapper>