<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zukxu.orderdemo.mapper.SpecsInfoMapper">
    <resultMap id="BaseResultMap" type="com.zukxu.orderdemo.entity.SpecsInfo">
        <!--@mbg.generated-->
        <!--@Table dsppm_specs_info-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="enable" jdbcType="BOOLEAN" property="enable"/>
        <result column="commodity_id" jdbcType="VARCHAR" property="produceId"/>
        <result column="specs_details" jdbcType="LONGVARCHAR" property="specsDetails"/>
        <result column="original_price" jdbcType="DECIMAL" property="originalPrice"/>
        <result column="active_price" jdbcType="DECIMAL" property="activePrice"/>
        <result column="stock" jdbcType="BIGINT" property="stock"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, remark, create_by, create_time, update_by, update_time, `enable`, commodity_id,
        specs_details, original_price, active_price, stock
    </sql>
    <update id="updateStock">
        update dsppm_specs_info
        set stock=stock + (#{count})
        where id = #{id};
    </update>
</mapper>