<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>中国疫情</title>
  <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
</head>
<body>
<div id="title">
  <span class="time"></span>
  中国疫情实时展示
  <a class="link01" href="world.html" th:href="@{/world}" target="_blank">| 世界疫情展示</a>
  <a class="link02" href="https://news.qq.com/zt2020/page/feiyan.htm?from=timeline&isappinstalled=0#/" target="_blank" >数据来源：腾讯新闻</a></div>
<div id="left1"></div>
<div id="left2"></div>
<div id="center1">
  <div class="item">
    <div class="number" id="confirm">123</div>
    <div class="text">累计确诊</div>
  </div>
  <div class="item">
    <div class="number" id="heal">123</div>
    <div class="text">累计治愈</div>
  </div>
  <div class="item">
    <div class="number" id="dead">123</div>
    <div class="text">累计死亡</div>
  </div>
  <div class="item">
    <div class="number" id="nowConfirm">123</div>
    <div class="text">现有确诊</div>
  </div>
  <div class="item">
    <div class="number" id="noInfect">123</div>
    <div class="text">无症状感染</div>
  </div>
  <div class="item">
    <div class="number" id="import">123</div>
    <div class="text">境外输入</div>
  </div>
</div>
<div id="center2"></div>
<div id="right1"></div>
<div id="right2"></div>


<script src="../static/plugins/jquery/jquery.min.js" th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script src="../static/plugins/echarts/echarts.min.js" th:src="@{/plugins/echarts/echarts.min.js}"></script>
<script src="../static/plugins/echarts/china.js" th:src="@{/plugins/echarts/china.js}"></script>
<script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
</body>
</html>
