body {
    background-color: #333;
}

#title {

    width: 100%;
    height: 10%;
    position: absolute; /*绝对定位*/
    top: 0;
    left: 0;

    /*弹性布局*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
}

#title .time {
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 20px;
}

#title .link01 {
    position: absolute;
    left: 220px;
    top: 5px;
    font-size: 20px;
    color: #33c6ce;
    text-decoration: none;
}

#title .link02 {
    position: absolute;
    left: 20px;
    top: 5px;
    font-size: 20px;
    color: #c9c9fb;
    text-decoration: none;
}

#title .author {
    position: absolute;
    left: 20px;
    top: 30px;
    font-size: 18px;
    color: blueviolet;
}

#left1 {

    width: 30%;
    height: 45%;
    position: absolute;
    left: 0;
    top: 10%;
}

#left2 {

    width: 30%;
    height: 45%;
    position: absolute;
    top: 55%;
    left: 0;
}

#center1 {

    width: 40%;
    height: 25%;
    position: absolute;
    left: 30%;
    top: 10%;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 33.33%;
}

.number {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
    font-size: 30px;
    font-weight: bold;
}

.text {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#center2 {

    width: 40%;
    height: 65%;
    position: absolute;
    top: 35%;
    left: 30%;
}

#right1 {

    width: 30%;
    height: 45%;
    position: absolute;
    top: 10%;
    right: 0;
}

#right2 {

    width: 30%;
    height: 45%;
    position: absolute;
    top: 55%;
    right: 0;
}