body{
	background-color:antiquewhite;
}
#title{
    width: 100%;
    height: 10%;
    position: absolute;  /*绝对定位*/
    top:0;
    left:0;

    /*弹性布局*/
    display: flex;
    justify-content:center;
    align-items: center;
    color: black;
    font-size: 40px;
}
#title .time{
    position: absolute;
    right: 20px;
    top:5px;
    font-size: 20px;
    color: black;
}
#title .link01{
    position: absolute;
    left: 220px;
    top:5px;
    font-size: 20px;
    color:red;
    text-decoration:none;
}
#title .link02{
    position: absolute;
    left: 20px;
    top:5px;
    font-size: 20px;
    color: #7e0fd2;
    text-decoration:none;
}
#title .author{
    position: absolute;
    left: 20px;
    top: 30px;
    font-size: 18px;
    color: blueviolet;
}
#left1{
    width: 50%;
    height: 90%;
    position: absolute;
    left: 0;
    top: 10%;
}
#left2{
    width: 50%;
    height: 90%;
    position: absolute;
    top: 10%;
    right: 0;
}