<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zukxu.comment.mapper.BlogCommentMapper">
    <!--DTO返回对象封装结果集-->
    <resultMap id="commentDTOMap" type="com.zukxu.comment.dto.BlogCommentDTO">
        <id column="id" jdbcType="VARCHAR" property="comment.id"/>
        <result column="remark" jdbcType="VARCHAR" property="comment.remark"/>
        <result column="create_by" jdbcType="VARCHAR" property="comment.createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="comment.createTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="comment.updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="comment.updateTime"/>
        <result column="enable" jdbcType="BOOLEAN" property="comment.enable"/>
        <result column="user_id" jdbcType="VARCHAR" property="comment.userId"/>
        <result column="content" jdbcType="VARCHAR" property="comment.content"/>
        <result column="blog_id" jdbcType="VARCHAR" property="comment.blogId"/>
        <result column="status" jdbcType="SMALLINT" property="comment.status"/>
        <result column="parent_id" jdbcType="VARCHAR" property="comment.parentId"/>
        <association property="children"
                select="com.zukxu.comment.mapper.BlogCommentMapper.selectCommentById"
                column="{blogId=blog_id,parentId=id}"
                fetchType="lazy">
        </association>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_by,
        create_time,
        update_by,
        update_time,
        id,
        remark,
        enable,
        user_id,
        content,
        blog_id,
        status,
        parent_id
    </sql>

    <select id="selectCommentById" resultMap="commentDTOMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM blog_comment
        WHERE blog_id = #{blogId}
          AND parent_id = #{parentId}
                order by create_time desc
        <if test="size != null">
            limit #{size}
        </if>
        <if test="current != null">
            offset #{current}
        </if>
    </select>
</mapper>
