<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单列表</title>
    <link href="../../static/css/list.css" rel="stylesheet" th:href="@{/css/list.css}" type="text/css">
    <style>
        #main {
            margin-top: 50px;
            padding: 20px;
        }
    </style>
</head>
<body>
<div id="main">
    <form action="/pay/alipay" method=post name=alipayment
          target="_blank">
        <div class="show" id="body1" name="divcontent" th:object="${alipayEntity}">
            <dl class="content">
                <dt>商户订单号 ：</dt>
                <dd>
                    <input id="WIDout_trade_no" name="outTradeNo" th:value="*{outTradeNo}"/>
                </dd>
                <hr class="one_line">
                <dt>订单名称 ：</dt>
                <dd>
                    <input id="WIDsubject" name="subject" th:value="*{subject}"/>
                </dd>
                <hr class="one_line">
                <dt>付款金额 ：</dt>
                <dd>
                    <input id="WIDtotal_amount" name="totalAmount" th:value="*{totalAmount}"/>
                </dd>
                <hr class="one_line">
                <dt>商品描述：</dt>
                <dd>
                    <input id="WIDbody" name="body" th:value="*{body}"/>
                </dd>
                <hr class="one_line">
                <dt>支付方式：</dt>
                <dd>
                    <input id="WIDpayment" name="payment" th:value="*{payment.name}"/>
                </dd>
                <hr class="one_line">
                <dt>支付状态：</dt>
                <dd>
                    <div th:switch="*{status}">
                        <p th:case="0">
                            <input id="WIDstatus" name="status" value="待支付"/>
                        </p>
                        <p th:case="1">
                            <input id="WIDstatus" name="status" value="已支付"/>
                        </p>
                        <p th:case="2">
                            <input id="WIDstatus" name="status" value="待退款"/>
                        </p>
                        <p th:case="3">
                            <input id="WIDstatus" name="status" value="已退款"/>
                        </p>
                        <p th:case="4">
                            <input id="WIDstatus" name="status" value="已关闭"/>
                        </p>
                    </div>
                </dd>
                <hr class="one_line">
                <dt></dt>
                <dd class="btn-dd">
						<span class="new-btn-login-sp">
							<button class="new-btn-login" style="text-align: center;"
                                    type="submit">付 款</button>
						</span> <span class="note-help">如果您点击“付款”按钮，即表示您同意该次的执行操作。</span>
                </dd>
            </dl>
        </div>
    </form>
</div>
</body>
</html>