<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zukxu.flowable.mapper.FlowDefinitionMapper">
    <select id="listCategory" resultType="com.zukxu.flowable.domain.dto.FlowCategoryDTO">
        select category_id as dictValue, category_name as dictLabel
        from sys_flow_category
    </select>

    <select id="selectCategoryName" resultType="java.lang.String">
        select category_name from sys_flow_category where category_id=#{categoryId}
    </select>
</mapper>