<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zukxu.flowable.mapper.SysFormMapper">
    <resultMap type="com.zukxu.flowable.model.entity.SysForm" id="SysFormResult">
        <result property="formId" column="form_id"/>
        <result property="formName" column="form_name"/>
        <result property="formContent" column="form_content"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectSysFormVo">
        select form_id,
               form_name,
               form_content,
               create_time,
               update_time,
               create_by,
               update_by,
               remark
        from sys_form
    </sql>

    <select id="selectSysFormList" parameterType="com.zukxu.flowable.model.entity.SysForm" resultMap="SysFormResult">
        <include refid="selectSysFormVo"/>
        <where>
            <if test="formName != null  and formName != ''">
                and form_name like concat('%', #{formName}, '%')
            </if>
        </where>
    </select>

    <select id="selectSysFormById" resultMap="SysFormResult">
        <include refid="selectSysFormVo"/>
        where form_id = #{formId}
    </select>

    <delete id="deleteSysFormById">
        delete
        from sys_form
        where form_id = #{formId}
    </delete>

    <delete id="deleteSysFormByIds">
        delete from sys_form where form_id in
        <foreach item="formId" collection="formIds" open="(" separator="," close=")">
            #{formId}
        </foreach>
    </delete>

    <select id="isBindTask" resultType="int">
        select count(form_id)
        from sys_form_deploy
        where form_id = #{formId}
        limit 1
    </select>
</mapper>