<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zukxu.flowable.mapper.SysFormTaskMapper">
    <resultMap type="com.zukxu.flowable.model.entity.SysFormTask" id="SysFormTaskResult">
        <result property="id" column="id"/>
        <result property="formId" column="form_id"/>
        <result property="taskId" column="task_id"/>
    </resultMap>

    <sql id="selectSysFormTaskVo">
        select id, form_id, task_id
        from sys_form_task
    </sql>

    <select id="selectSysFormTaskList" parameterType="com.zukxu.flowable.model.entity.SysFormTask"
            resultMap="SysFormTaskResult">
        <include refid="selectSysFormTaskVo"/>
        <where>
            <if test="formId != null ">
                and form_id = #{formId}
            </if>
            <if test="taskId != null  and taskId != ''">
                and task_id = #{taskId}
            </if>
        </where>
    </select>

    <select id="selectSysFormTaskById" parameterType="Long" resultMap="SysFormTaskResult">
        <include refid="selectSysFormTaskVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysFormTask" parameterType="com.zukxu.flowable.model.entity.SysFormTask" useGeneratedKeys="true"
            keyProperty="id">
        insert into sys_form_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="formId != null">
                form_id,
            </if>
            <if test="taskId != null">
                task_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="formId != null">
                #{formId},
            </if>
            <if test="taskId != null">
                #{taskId},
            </if>
        </trim>
    </insert>

    <update id="updateSysFormTask" parameterType="com.zukxu.flowable.model.entity.SysFormTask">
        update sys_form_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="formId != null">
                form_id = #{formId},
            </if>
            <if test="taskId != null">
                task_id = #{taskId},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysFormTaskById" parameterType="Long">
        delete
        from sys_form_task
        where id = #{id}
    </delete>

    <delete id="deleteSysFormTaskByIds" parameterType="String">
        delete from sys_form_task where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>