spring:
  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=10000,expireAfterWrite=60s
redis:
  host: localhost
  port: 6379
  connect-timeout: 2000
  lettuce:
    pool:
      max-active: 64
