<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zukxu.mybatis.inserts.mapper.DemoMybatisInsertsMapper">
    <insert id="insertBatch">
        insert into demo_mybatis_inserts(username, password, _no) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.username}, #{item.password}, #{item.no})
        </foreach>
    </insert>

    <select id="scanMapper" resultType="com.zukxu.mybatis.inserts.model.DemoMybatisInserts" resultSetType="FORWARD_ONLY" fetchSize="1000">
        select id, username, password, _no
        from demo_mybatis_inserts ${ew.customSqlSegment}
    </select>
</mapper>