<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zukxu.mybatis.inserts.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.zukxu.mybatis.inserts.model.SysUser">
        <!--@mbg.generated-->
        <!--@Table sys_user-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="dept_id" jdbcType="VARCHAR" property="deptId"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="sex" jdbcType="CHAR" property="sex"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="del_flag" jdbcType="CHAR" property="delFlag"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="level" jdbcType="VARCHAR" property="level"/>
        <result column="yd4a_account" jdbcType="VARCHAR" property="yd4aAccount"/>
        <result column="oa_account" jdbcType="VARCHAR" property="oaAccount"/>
        <result column="crm_account" jdbcType="VARCHAR" property="crmAccount"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        dept_id,
        login_name,
        user_name,
        `password`,
        sex,
        email,
        phone,
        `status`,
        del_flag,
        create_by,
        create_time,
        update_by,
        update_time,
        remark,
        `level`,
        yd4a_account,
        oa_account,
        crm_account
    </sql>
    <insert id="insertBatch">
        INSERT INTO sys_user (id, dept_id, login_name, user_name, password, sex, email, phone, status, create_by, create_time, yd4a_account,
                              oa_account, crm_account)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.deptId}, #{item.loginName}, #{item.userName}, #{item.password}, #{item.sex}, #{item.email}, #{item.phone},
             #{item.status}, #{item.createBy}, #{item.createTime}, #{item.yd4aAccount}, #{item.oaAccount}, #{item.crmAccount})
        </foreach>
    </insert>

    <select id="scanMapper" resultType="com.zukxu.mybatis.inserts.model.SysUser" resultSetType="FORWARD_ONLY" fetchSize="1000">
        select id, login_name, user_name, password, phone, yd4a_account
        from sys_user ${ew.customSqlSegment}
    </select>
    <insert id="insertExcelBatch">
        INSERT INTO ${t}
        <if test="p != null and p.size() != 0">(
            <foreach collection="p" item="pt" separator=",">
                ${pt}
            </foreach>)
        </if>
        VALUES
        <foreach collection="d" item="dt" separator=",">
            <if test="dt != null and dt.length != 0">
                (<foreach collection="dt" item="dt1" separator=",">
                <choose>
                    <when test="dt1 != null and dt1 != ''.toString() ">
                        #{dt1,jdbcType=VARCHAR}
                    </when>
                    <otherwise>
                        null
                    </otherwise>
                </choose>
            </foreach>)
            </if>
        </foreach>
    </insert>
</mapper>