<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zukxu.order.mapper.OrderInfoMapper">
    <resultMap id="BaseResultMap" type="com.zukxu.order.entity.OrderInfo">
        <!--@mbg.generated-->
        <!--@Table dsppm_order_info-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="order_status" jdbcType="SMALLINT" property="orderStatus"/>
        <result column="commodity_id" jdbcType="VARCHAR" property="commodityId"/>
        <result column="group_id" jdbcType="VARCHAR" property="groupId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,order_status,
        commodity_id,group_id
    </sql>
</mapper>