<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zukxu.excel.mapper.ReportMapper">
    <resultMap id="BaseResultMap" type="com.zukxu.excel.model.satisfaction.Sn5g">
        <!--@mbg.generated-->
        <!--@Table satisfaction_sn-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="year" jdbcType="VARCHAR" property="year"/>
        <result column="period" jdbcType="VARCHAR" property="period"/>
        <result column="org_type" jdbcType="VARCHAR" property="orgType"/>
        <result column="city_id" jdbcType="VARCHAR" property="cityId"/>
        <result column="city_name" jdbcType="VARCHAR" property="cityName"/>
        <result column="kpi_name" jdbcType="VARCHAR" property="kpiName"/>
        <result column="yd_satisfaction" jdbcType="FLOAT" property="ydSatisfaction"/>
        <result column="lt_satisfaction" jdbcType="FLOAT" property="ltSatisfaction"/>
        <result column="dx_satisfaction" jdbcType="FLOAT" property="dxSatisfaction"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `year`, period, org_type, city_id, city_name, kpi_name, yd_satisfaction, lt_satisfaction,
        dx_satisfaction, sort
    </sql>
</mapper>