<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>支付宝电脑网站支付</title>
  <link href="../../static/css/list.css" rel="stylesheet" th:href="@{/css/list.css}" type="text/css">
</head>
<body bgColor="#ffffff" leftMargin=0 text=#000000 topMargin=4>
<header class="am-header">
  <h1>支付宝电脑网站支付体验入口页</h1>
</header>
<div id="main">
  <div class="tab-head" id="tabhead">
    <h2 class="selected" id="tab1" name="tab">付 款</h2>
    <h2 id="tab2" name="tab">交 易 查 询</h2>
    <h2 id="tab3" name="tab">退 款</h2>
    <h2 id="tab4" name="tab">退 款 查 询</h2>
    <h2 id="tab5" name="tab">交 易 关 闭</h2>
  </div>
  <form action="/pay/alipay" method=post name=alipayment
        target="_blank">
    <div class="show" id="body1" name="divcontent" th:object="alipayEntity">
      <dl class="content">
        <dt>商户订单号 ：</dt>
        <dd>
          <input id="WIDout_trade_no" name="outTradeNo" th:text="*{outTradeNo}"/>
        </dd>
        <hr class="one_line">
        <dt>订单名称 ：</dt>
        <dd>
          <input id="WIDsubject" name="subject" th:text="*{subject}"/>
        </dd>
        <hr class="one_line">
        <dt>付款金额 ：</dt>
        <dd>
          <input id="WIDtotal_amount" name="totalAmount" th:text="*{totalAmount}"/>
        </dd>
        <hr class="one_line">
        <dt>商品描述：</dt>
        <dd>
          <input id="WIDbody" name="body" th:text="*{body}"/>
        </dd>
        <hr class="one_line">
        <dd>
          <input id="WIDpayment" name="payment" th:text="*{payment.name}"/>
        </dd>
        <hr class="one_line">
        <dt></dt>
        <dd class="btn-dd">
						<span class="new-btn-login-sp">
							<button class="new-btn-login" style="text-align: center;"
                      type="submit">付 款</button>
						</span> <span class="note-help">如果您点击“付款”按钮，即表示您同意该次的执行操作。</span>
        </dd>
      </dl>
    </div>
  </form>
  <form action=alipay.trade.query.jsp method=post name=tradequery
        target="_blank">
    <div class="tab-content" id="body2" name="divcontent">
      <dl class="content">
        <dt>商户订单号 ：</dt>
        <dd>
          <input id="WIDTQout_trade_no" name="WIDTQout_trade_no"/>
        </dd>
        <hr class="one_line">
        <dt>支付宝交易号 ：</dt>
        <dd>
          <input id="WIDTQtrade_no" name="WIDTQtrade_no"/>
        </dd>
        <hr class="one_line">
        <dt></dt>
        <dd class="btn-dd">
						<span class="new-btn-login-sp">
							<button class="new-btn-login" style="text-align: center;"
                      type="submit">交 易 查 询</button>
						</span> <span class="note-help">商户订单号与支付宝交易号二选一，如果您点击“交易查询”按钮，即表示您同意该次的执行操作。</span>
        </dd>
      </dl>
    </div>
  </form>
  <form action=alipay.trade.refund.jsp method=post name=traderefund
        target="_blank">
    <div class="tab-content" id="body3" name="divcontent">
      <dl class="content">
        <dt>商户订单号 ：</dt>
        <dd>
          <input id="WIDTRout_trade_no" name="WIDTRout_trade_no"/>
        </dd>
        <hr class="one_line">
        <dt>支付宝交易号 ：</dt>
        <dd>
          <input id="WIDTRtrade_no" name="WIDTRtrade_no"/>
        </dd>
        <hr class="one_line">
        <dt>退款金额 ：</dt>
        <dd>
          <input id="WIDTRrefund_amount" name="WIDTRrefund_amount"/>
        </dd>
        <hr class="one_line">
        <dt>退款原因 ：</dt>
        <dd>
          <input id="WIDTRrefund_reason" name="WIDTRrefund_reason"/>
        </dd>
        <hr class="one_line">
        <dt>退款请求号 ：</dt>
        <dd>
          <input id="WIDTRout_request_no" name="WIDTRout_request_no"/>
        </dd>
        <hr class="one_line">
        <dt></dt>
        <dd class="btn-dd">
						<span class="new-btn-login-sp">
							<button class="new-btn-login" style="text-align: center;"
                      type="submit">退 款</button>
						</span> <span class="note-help">商户订单号与支付宝交易号二选一，如果您点击“退款”按钮，即表示您同意该次的执行操作。</span>
        </dd>
      </dl>
    </div>
  </form>
  <form action=alipay.trade.fastpay.refund.query.jsp
        method=post name=traderefundquery
        target="_blank">
    <div class="tab-content" id="body4" name="divcontent">
      <dl class="content">
        <dt>商户订单号 ：</dt>
        <dd>
          <input id="WIDRQout_trade_no" name="WIDRQout_trade_no"/>
        </dd>
        <hr class="one_line">
        <dt>支付宝交易号 ：</dt>
        <dd>
          <input id="WIDRQtrade_no" name="WIDRQtrade_no"/>
        </dd>
        <hr class="one_line">
        <dt>退款请求号 ：</dt>
        <dd>
          <input id="WIDRQout_request_no" name="WIDRQout_request_no"/>
        </dd>
        <hr class="one_line">
        <dt></dt>
        <dd class="btn-dd">
						<span class="new-btn-login-sp">
							<button class="new-btn-login" style="text-align: center;"
                      type="submit">退 款 查 询</button>
						</span> <span class="note-help">商户订单号与支付宝交易号二选一，如果您点击“退款查询”按钮，即表示您同意该次的执行操作。</span>
        </dd>
      </dl>
    </div>
  </form>
  <form action=alipay.trade.close.jsp method=post name=tradeclose
        target="_blank">
    <div class="tab-content" id="body5" name="divcontent">
      <dl class="content">
        <dt>商户订单号 ：</dt>
        <dd>
          <input id="WIDTCout_trade_no" name="WIDTCout_trade_no"/>
        </dd>
        <hr class="one_line">
        <dt>支付宝交易号 ：</dt>
        <dd>
          <input id="WIDTCtrade_no" name="WIDTCtrade_no"/>
        </dd>
        <hr class="one_line">
        <dt></dt>
        <dd class="btn-dd">
						<span class="new-btn-login-sp">
							<button class="new-btn-login" style="text-align: center;"
                      type="submit">交 易 关 闭</button>
						</span> <span class="note-help">商户订单号与支付宝交易号二选一，如果您点击“交易关闭”按钮，即表示您同意该次的执行操作。</span>
        </dd>
      </dl>
    </div>
  </form>
  <div id="foot">
    <ul class="foot-ul">
      <li>支付宝版权所有 2015-2018 ALIPAY.COM</li>
    </ul>
  </div>
</div>
</body>
<script>
    var tabs = document.getElementsByName('tab');
    var contents = document.getElementsByName('divcontent');

    (function changeTab(tab) {
        for (var i = 0, len = tabs.length; i < len; i++) {
            tabs[i].onclick = showTab;
        }
    })();

    function showTab() {
        for (var i = 0, len = tabs.length; i < len; i++) {
            if (tabs[i] === this) {
                tabs[i].className = 'selected';
                contents[i].className = 'show';
            } else {
                tabs[i].className = '';
                contents[i].className = 'tab-content';
            }
        }
    }

    /*
      function GetDateNow() {
        var vNow = new Date();
        var sNow = "";
        sNow += String(vNow.getFullYear());
        sNow += String(vNow.getMonth() + 1);
        sNow += String(vNow.getDate());
        sNow += String(vNow.getHours());
        sNow += String(vNow.getMinutes());
        sNow += String(vNow.getSeconds());
        sNow += String(vNow.getMilliseconds());
        document.getElementById("WIDout_trade_no").value = sNow;
        document.getElementById("WIDsubject").value = "测试";
        document.getElementById("WIDtotal_amount").value = "9999.99";
        document.getElementById("WIDbody").value = "测试数据的body";
      }

      GetDateNow();*/
</script>
</html>